USE [DBA]
GO
/****** Object:  UserDefinedFunction [dbo].[dbafn_backedup_databases_business_catalog]    Script Date: 12/18/2013 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Bahamin, Golchoobian>
-- Create date: <9/27/2013>
-- Description:	<Return list of files should be transfer to their standard tape folder based on saipa tape structure policy>
-- =============================================
CREATE FUNCTION [dbo].[dbafn_backedup_databases_business_catalog] 
(
	-- Add the parameters for the function here
	@DatabaseNames varchar(512),
	@LocalDestinationPath varchar(255),
	@BackupExtension varchar(3) = 'bak',
	@Condition varchar(255)
)
RETURNS @AnswerTable
TABLE 
(
	database_name varchar(255),
	mediaset_name nvarchar(255),
	backup_start_date datetime,
	_date varchar(10),
	_year int,
	_month int,
	_day int,
	_week int,
	_weekday int,
	_LocalFolderPath nvarchar(255),
	_RelativeFolderPath nvarchar(255),
	_TargetFileName nvarchar(255)
)
AS
BEGIN
	Declare @MyCursor Cursor;
	Declare @MyDatabase varchar(255);
	
	
	SET @MyCursor=CURSOR For
			Select Parameter
			FROM [DBA].[dbo].dbafn_split(',',@DatabaseNames)

	Open @MyCursor
	FETCH NEXT FROM @MyCursor INTO @MyDatabase
			WHILE @@FETCH_STATUS=0
			BEGIN
				IF UPPER(@Condition)=UPPER('daily')
					BEGIN
						-- Last 7 day full backups
						INSERT @AnswerTable Select Top 7 database_name,mediaset_name,backup_start_date,_date,_year,_month,_day,_week,_weekday,LocalFolderPath,RelativeFolderPath,TargetFileName
						FROM [DBA].[dbo].[dbafn_backedup_databases_catalog] (@MyDatabase,'D',@LocalDestinationPath,@BackupExtension)
						order by backup_start_date desc
						
						-- Last 7 day log backups
						INSERT @AnswerTable Select Top 7 database_name,mediaset_name,backup_start_date,_date,_year,_month,_day,_week,_weekday,LocalFolderPath,RelativeFolderPath,TargetFileName
						FROM [DBA].[dbo].[dbafn_backedup_databases_catalog] (@MyDatabase,'L',@LocalDestinationPath,@BackupExtension)
						order by backup_start_date desc
					END
					
				IF UPPER(@Condition)=UPPER('weekly')
					BEGIN
						-- Last 4 Weeks full backups
						INSERT @AnswerTable SELECT Top 4 database_name,mediaset_name,backup_start_date,_date,_year,_month,_day,_week,_weekday,LocalFolderPath,RelativeFolderPath,TargetFileName
						FROM [DBA].[dbo].[dbafn_backedup_databases_catalog] (@MyDatabase,'D',@LocalDestinationPath,@BackupExtension)
						where _weekday=7
						order by backup_start_date desc
					END
				
				IF UPPER(@Condition)=UPPER('monthly')
					BEGIN
						-- Last 12 months full backups
						INSERT @AnswerTable SELECT Top 12 database_name,mediaset_name,backup_start_date,_date,_year,_month,_day,_week,_weekday,LocalFolderPath,RelativeFolderPath,TargetFileName
						FROM [DBA].[dbo].[dbafn_backedup_databases_catalog] (@MyDatabase,'D',@LocalDestinationPath,@BackupExtension)
						where _day=1
						order by _year desc, _month desc
					END
					
				IF UPPER(@Condition)=UPPER('yearly')
					BEGIN
						-- Last 10 years full backups
						INSERT @AnswerTable SELECT Top 10 database_name,mediaset_name,backup_start_date,_date,_year,_month,_day,_week,_weekday,LocalFolderPath,RelativeFolderPath,TargetFileName
						FROM [DBA].[dbo].[dbafn_backedup_databases_catalog] (@MyDatabase,'D',@LocalDestinationPath,@BackupExtension)
						where _month=1 and _day=15
						order by _year desc
					END

				FETCH NEXT FROM @MyCursor INTO @MyDatabase
			END
	CLOSE @MyCursor;
	DEALLOCATE @MyCursor;

	RETURN
END
GO
