USE [DBA]
GO
/****** Object:  UserDefinedFunction [dbo].[dbafn_split]    Script Date: 12/14/2013 07:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Bahamin, Golchoobian>
-- Create date: <9/25/2013>
-- Description:	<convert comma seperated string values to table of string values>
-- =============================================
CREATE FUNCTION [dbo].[dbafn_split] 
(	
	-- Add the parameters for the function here
	@delimiter char(1) = ',', 
	@array_string varchar(512)
)
RETURNS TABLE 
AS
RETURN 
(
    WITH Pieces(Position, start, stop) AS (
      SELECT 1, 1, CHARINDEX(@delimiter, @array_string)
      UNION ALL
      SELECT Position + 1, stop + 1, CHARINDEX(@delimiter, @array_string, stop + 1)
      FROM Pieces
      WHERE stop > 0
    )
    SELECT Position,
      SUBSTRING(@array_string, start, CASE WHEN stop > 0 THEN stop-start ELSE 512 END) AS Parameter
    FROM Pieces
)
GO
