USE [DBA]
GO
/****** Object:  StoredProcedure [dbo].[dbasp_take_backup]    Script Date: 12/18/2013 16:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Bahamin,Golchoobian>
-- Create date: <9/18/2013>
-- Description:	<Backup database>
-- =============================================
CREATE PROCEDURE [dbo].[dbasp_take_backup]
	@DBName nvarchar(255), @LocalDestinationPath nvarchar(255),@BackupExtension varchar(3) = 'bak',
	@BackupType varchar(4), @RetainDays int = 90
	--@BackupType=FULL,LOG
	--@PreMaintenance=1,0 {Yes/No}
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Error_Message nvarchar(255);
	DECLARE @Info_Message nvarchar(255);
	DECLARE @Database_Name nvarchar(255);
	DECLARE @Persian_Date varchar(10);
	DECLARE @Gregorian_Date datetime;
	DECLARE @Backup_Base_Local nvarchar(255);
	DECLARE @Backup_Home_Local nvarchar(255);
	DECLARE @Backup_ChildFolder nvarchar(255);
	DECLARE @MediaSet_Name nvarchar(255);
	DECLARE @MediaSet_Desc nvarchar(255);
	DECLARE @BackupSet_Name nvarchar(255);
	DECLARE @BackupSet_Desc nvarchar(255);
	DECLARE @FileName_Local nvarchar(255);
	DECLARE @backupSetId as int;
	DECLARE @ReturnValue bit;

	--IF @PreMaintenance=1																						--Do Pre Maintenance before backup job
	--	Begin
	--		exec dbasp_maintenance_checkdb @DBName;																--Run DBCC Checkdb before backup job
	--	END
	
	SET @ReturnValue=1;																							--0 is OK and 1 is Error
	SET @Gregorian_Date=GETDATE();																				--Calculate current gregorian date
	SET @Persian_Date = [DBA].[dbo].[dbafn_miladi2shamsi] (@Gregorian_Date,'_')										--Calculate current persian date
	SET @Database_Name=@DBName;																					--Put input parameter to local procedure variable
	SET @Backup_Base_Local = @LocalDestinationPath;																--Put input parameter to local procedure variable
	SET @Backup_ChildFolder = Left(@Persian_Date,7) + '\' + Right(@Persian_Date,2)								--Calculate required sub directories under @Backup_Base structure for storing backup files
	SET @Backup_Home_Local =@Backup_Base_Local +'\'+ @Backup_ChildFolder										--Calculate full path of backupfiles location (in local disk)
	
	exec [DBA].[dbo].dbasp_make_directory @Backup_Home_Local;																--Validate local storage path folder structure and make directory structure if it does not exists
	
	IF UPPER(@BackupType)= UPPER('FULL') OR UPPER(@BackupType)= UPPER('LOG')									--Specify BackupType
		BEGIN
			IF UPPER(@BackupType)=UPPER('FULL')
			BEGIN
			------------------------------
			---- Full Backup operation ---
			------------------------------
				--Config parameters
				SET @MediaSet_Name= UPPER(@BackupType) +'_'+ @Database_Name + '_' + @Persian_Date											--Set mediaset name (Ex: Kasra_1392_10_01)
				SET @MediaSet_Desc=@MediaSet_Name																			--Set mediaset description as mediaset name
				SET @BackupSet_Name=@MediaSet_Name + '_on_' + REPLACE(CONVERT (time(0), @Gregorian_Date),':','_')			--Specify backupset name default value, the default value is a Full backup (Ex: Full_Kasra_1392_10_01)
				SET @BackupSet_Desc=@BackupSet_Name																			--Set backupset description as backupset name
				SET @FileName_Local =@Backup_Home_Local + '\' + @MediaSet_Name+ '.' + @BackupExtension						--Calculate full path of backupfile location (in local disk)
				
				--Generate information about backup
				SET @Info_Message='Database='+@Database_Name+', Mediaset='+@MediaSet_Name+',Backupset='+@Backupset_Name+',FileNameLocal='+@FileName_Local
				
				--Take Full Backup
				BACKUP DATABASE @Database_Name TO DISK = @FileName_Local WITH 
								NAME = @Backupset_Name, DESCRIPTION = @BackupSet_Desc, NOFORMAT, NOINIT,
								MEDIADESCRIPTION = @MediaSet_Desc, MEDIANAME = @MediaSet_Name, NOSKIP,
								COMPRESSION, STATS = 10,RETAINDAYS = @RetainDays, CHECKSUM
								
				--Verification & Checkpoint step
				SET @ReturnValue=0
				select @backupSetId = position from msdb..backupset where database_name=@Database_Name and backup_set_id=(select max(backup_set_id) from msdb..backupset where database_name=@Database_Name )
				if @backupSetId is null 
					begin 
						SET @Error_Message='Full Backup verification failed ('+ @Info_Message +'). information for database not found.'
						raiserror(@Error_Message , 16, 1)
						SET @ReturnValue=1
					end
				RESTORE VERIFYONLY FROM DISK = @FileName_Local WITH  FILE = @backupSetId, NOUNLOAD, NOREWIND
			END
			
			IF UPPER(@BackupType)=UPPER('LOG')
			BEGIN
			------------------------------
			---- Log Backup operation ----
			------------------------------
				--Config parameters
				SET @MediaSet_Name= UPPER(@BackupType) +'_'+ @Database_Name + '_' + @Persian_Date												--Set mediaset name (Ex: Kasra_1392_10_01)
				SET @MediaSet_Desc=@MediaSet_Name																		--Set mediaset description as mediaset name
				SET @BackupSet_Name=@MediaSet_Name + '_on_' + REPLACE(CONVERT (time(0), @Gregorian_Date),':','_')		--Specify backupset name default value, the default value is a Full backup (Ex: Full_Kasra_1392_10_01)
				SET @BackupSet_Desc=@BackupSet_Name																		--Set backupset description as backupset name
				SET @FileName_Local =@Backup_Home_Local + '\' + @MediaSet_Name+ '.' + @BackupExtension					--Calculate full path of backupfile location (in local disk)
				
				--Generate information about backup
				SET @Info_Message='Database='+@Database_Name+', Mediaset='+@MediaSet_Name+',Backupset='+@Backupset_Name+',FileNameLocal='+@FileName_Local
				
				--Take Log Backup
				BACKUP LOG @Database_Name TO DISK = @FileName_Local WITH
							NAME = @Backupset_Name, DESCRIPTION = @BackupSet_Desc, NOFORMAT, NOINIT,
							MEDIADESCRIPTION = @MediaSet_Desc, MEDIANAME = @MediaSet_Name, NOSKIP,
							COMPRESSION, STATS = 10,RETAINDAYS = @RetainDays, CHECKSUM
							
				--Verification & Checkpoint step
				SET @ReturnValue=0
				select @backupSetId = position from msdb..backupset where database_name=@Database_Name and backup_set_id=(select max(backup_set_id) from msdb..backupset where database_name=@Database_Name )
				if @backupSetId is null 
					begin 
						SET @Error_Message='Full Backup verification failed ('+ @Info_Message +'). information for database not found.'
						raiserror(@Error_Message , 16, 1) 
						SET @ReturnValue=1
					end
				RESTORE VERIFYONLY FROM DISK = @FileName_Local WITH FILE = @backupSetId, NOUNLOAD, NOREWIND
				Return 0
			END
			
			--Print backup information
			Print @Info_Message
		END
		ELSE
		BEGIN
			Print '@BackupType value should be FULL or LOG'
			SET @ReturnValue=1
		END
	Return @ReturnValue
	--select * from msdb..backupset
	--restore headeronly from disk='c:\backup\CSM_2013_09_19.bak'
END
GO
