USE [DBA]
GO
/****** Object:  UserDefinedFunction [dbo].[dbafn_backedup_databases_catalog]    Script Date: 12/18/2013 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Bahamin, Golchoobian>
-- Create date: <9/27/2013>
-- Description:	<Return a unique list of backup mediasets and their local destination files;>
-- =============================================
CREATE FUNCTION [dbo].[dbafn_backedup_databases_catalog] 
(	
	-- Add the parameters for the function here
	--@BackupType : L for Log backup and D for Full Backup/Data
	@DatabaseNames as varchar(512),
	@BackupType as char(1),
	@LocalDestinationPath varchar(255),
	@BackupExtension varchar(3) = 'bak'
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	Select Top 100 percent database_name,mediaset_name,backup_type, backup_start_date,_date,_year,_month,_day,_week,_weekday,
		LOWER(@LocalDestinationPath + '\' + FolderLevel1 + '\' + FolderLevel2) as LocalFolderPath,
		LOWER(FolderLevel1 + '\' + FolderLevel2) as RelativeFolderPath,
		LOWER(Mediaset_name + '.' + @BackupExtension) as TargetFileName
from
	( 
	Select database_name,mediaset_name,backup_type,
	backup_start_date,
	[DBA].[dbo].[dbafn_miladi2shamsi](backup_start_date,'_') as _date,
	CAST(LEFT([DBA].[dbo].[dbafn_miladi2shamsi](backup_start_date,'_'),4) as int) as _year,
	CAST(SUBSTRING([DBA].[dbo].[dbafn_miladi2shamsi](backup_start_date,'_'),6,2) as int) as _month,
	CAST( Right([DBA].[dbo].[dbafn_miladi2shamsi](backup_start_date,'_'),2) as int) as _day,
	DATEPART(ww, backup_start_date) as _week,
	DATEPART(WEEKDAY , backup_start_date) as _weekday,
	left(right(Mediaset_name,10),7)as FolderLevel1,
	right(Mediaset_name,2)as FolderLevel2
	from
		(
		select Mediaset.name as mediaset_name,Max(Backupset.type) as backup_type,Max(Backupset.backup_start_date) as backup_start_date,MAX(database_name) as database_name
		from msdb..backupset Backupset inner join msdb..backupmediaset Mediaset on Backupset.media_set_id=Mediaset.media_set_id 
		where (upper(Backupset.type)=upper(@BackupType))
			and database_name in (select Parameter from  [DBA].[dbo].dbafn_split(',',@DatabaseNames))
			and not Mediaset.name is null
		group by Mediaset.name
		) As TargetMediaSets
	) As BackupHistory
order by database_name asc, backup_start_date desc
)
GO
