USE [DBA]
GO
/****** Object:  StoredProcedure [dbo].[dbasp_make_directory]    Script Date: 12/14/2013 07:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Bahamin, Golchoobian>
-- Create date: <9/25/2013>
-- Description:	<Check for existing directory path in local device and make it if not exsites>
-- =============================================
CREATE PROCEDURE [dbo].[dbasp_make_directory] 
	@DirectoryPath nvarchar(4000)
AS
BEGIN
	SET NOCOUNT ON;
	Declare @folder_exists as int
	Declare @file_results table
		(file_exists int,
		file_is_a_directory int,
		parent_directory_exists int
		)
         
	Insert into @file_results (file_exists, file_is_a_directory, parent_directory_exists)exec master.dbo.xp_fileexist @DirectoryPath
	select @folder_exists = file_is_a_directory from @file_results

	--script to create directory       
	if @folder_exists = 0
		begin
			print 'Directory is not exists, creating new one'
			EXECUTE master.dbo.xp_create_subdir @DirectoryPath
			print @DirectoryPath +  'created on' + @@servername
		end       
		else
		print 'Directory already exists'
END
GO
