USE [DBA]
GO
/****** Object:  StoredProcedure [dbo].[dbasp_maintenance_shrink]    Script Date: 12/18/2013 16:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Shrink log file>
-- =============================================
CREATE PROCEDURE [dbo].[dbasp_maintenance_shrink]
	-- Add the parameters for the stored procedure here
	@DatabaseNames  varchar(512),
	@TargetSizeMB as int = 0
	--TargetSize in MB
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @MyCursor Cursor;
	DECLARE @Database_Name nvarchar(255);
	DECLARE @ActualLogSize int;
    DECLARE @LogicalName sysname;
    Declare @Command as varchar(255)
    DECLARE @Error_Message nvarchar(255);
    DECLARE @ReturnValue bit;
    DECLARE @LogInfoResult2008 TABLE(
            [FileId]            INT NULL,
            [FileSize]            BIGINT NULL,
            [StartOffset]        BIGINT NULL,
            [FSeqNo]            INT NULL,
            [Status]            INT NULL,
            [Parity]            TINYINT NULL,
            [CreateLSN]            NUMERIC(25, 0) NULL);
    
    SET @ReturnValue=0;
    SET @Error_Message='';
    
    SET @MyCursor=CURSOR For
		Select Parameter FROM DBA.dbo.dbafn_split(',',@DatabaseNames)
    
    Open @MyCursor
	FETCH NEXT FROM @MyCursor INTO @Database_Name
			WHILE @@FETCH_STATUS=0
			BEGIN
				Select @LogicalName=name from master.sys.master_files where database_id=DB_ID(@Database_Name) and type=1
				If Not @LogicalName Is null					--If Databse is valid and has a log file
					BEGIN
						SET @Command='Use ' + @Database_Name +';dbcc loginfo;'
						Delete from @LogInfoResult2008
						Insert into @LogInfoResult2008 exec (@Command)
						Select @ActualLogSize = SUM(filesize)/(1024*1024)from @logInfoResult2008 where Status=0 group by fileid
						IF @ActualLogSize > @TargetSizeMB	--If Current size of inactive Log file is greater than target size do shrink operation
							BEGIN
								SET @Command='Use ' + @Database_Name +'; '
								SET @Command= @Command + 'dbcc shrinkfile ('''+ CAST(@LogicalName as varchar(255)) + ''',' + CAST(@TargetSizeMB as varchar(255)) + ');'
								exec (@Command)
								--dbcc shrinkfile (@LogicalName,@TargetSizeMB);
							END
					END
					ELSE									--Raise Error if Database name is not valid or has not any log file
					BEGIN
						SET @Error_Message = @Error_Message + ' - shrink failed for ' + @Database_Name;
						SET @ReturnValue=1;
					END
				FETCH NEXT FROM @MyCursor INTO @Database_Name
			END
	CLOSE @MyCursor;
	DEALLOCATE @MyCursor;
	
	If @ReturnValue=1										--Send error message to caller
		Begin
			raiserror(@Error_Message , 16, 1);
		End
	
	Return @ReturnValue
END
GO
