USE [DBA]
GO
/****** Object:  StoredProcedure [dbo].[dbasp_maintenance_checkdb]    Script Date: 12/18/2013 16:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Run DBCC Checkdb to correct any database errors>
-- =============================================
CREATE PROCEDURE [dbo].[dbasp_maintenance_checkdb]
	-- Add the parameters for the stored procedure here
	@DatabaseNames  varchar(512)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Database_Name nvarchar(255);
	DECLARE @MyCursor Cursor;

	SET @MyCursor=CURSOR For
	Select Parameter FROM [DBA].[dbo].dbafn_split(',',@DatabaseNames)
	
	Open @MyCursor
	FETCH NEXT FROM @MyCursor INTO @Database_Name
			WHILE @@FETCH_STATUS=0
			BEGIN
				DBCC CHECKDB (@Database_Name) WITH NO_INFOMSGS, ALL_ERRORMSGS;
				FETCH NEXT FROM @MyCursor INTO @Database_Name
			END
	CLOSE @MyCursor;
	DEALLOCATE @MyCursor;

END
GO
