USE [DBA]
GO
/****** Object:  StoredProcedure [dbo].[dbasp_delete_expired_backups]    Script Date: 12/18/2013 16:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<delete expired backups from local disk>
-- =============================================
CREATE PROCEDURE [dbo].[dbasp_delete_expired_backups] 
	@LocalDestinationPath varchar(255),@BackupExtension varchar(3) = 'bak'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @MyCursor Cursor
	DECLARE @FolderLevel1 varchar(7)
	DECLARE @FolderLevel2 varchar(2)
	DECLARE @BackupFileName varchar(255)
	DECLARE @ExpiredDate as Date
	DECLARE @CurrentFolderPath varchar(255)
	DECLARE @CurrentDay as Date
	DECLARE @ReturnValue bit;

	SET @ReturnValue=0	--0 is OK and 1 is Error
	SET @CurrentDay=CONVERT(VARCHAR(10), GETDATE(), 111)
	SET @MyCursor=CURSOR For
			SELECT left(right(media.name,10),7)as FolderLevel1,right(media.name,2)as FolderLevel2,
					media.name as BackupFileName,Max(bpset.expiration_date) as ExpiredDate
			FROM   msdb..backupmediaset AS media INNER JOIN msdb..backupset AS bpset ON media.media_set_id = bpset.media_set_id
			WHERE  (CONVERT(VARCHAR(10), bpset.expiration_date, 111) < @CurrentDay)
			Group By media.name

	Open @MyCursor
	FETCH NEXT FROM @MyCursor INTO @FolderLevel1,@FolderLevel2,@BackupFileName,@ExpiredDate
			WHILE @@FETCH_STATUS=0
			BEGIN
				If (not @FolderLevel1 is null) and (not @FolderLevel2 is null) and (not @BackupFileName is null)
					BEGIN
						SET @CurrentFolderPath=@LocalDestinationPath + '\'+ @FolderLevel1 + '\'+ @FolderLevel2+ '\'+ @BackupFileName + '.' + @BackupExtension
						IF [DBA].[dbo].dbafn_file_existed(@CurrentFolderPath)=1
							BEGIN
								EXECUTE master.dbo.xp_delete_file 0,@CurrentFolderPath,@BackupExtension,@ExpiredDate,0
							END
					END
				FETCH NEXT FROM @MyCursor INTO @FolderLevel1,@FolderLevel2,@BackupFileName,@ExpiredDate
			END
	CLOSE @MyCursor;
	DEALLOCATE @MyCursor;
	
	Return @ReturnValue
	--EXEC msdb.dbo.sp_delete_backuphistory @oldest_date=@Backup_Start_Date
END
GO
