USE [DBA]
GO
/****** Object:  UserDefinedFunction [dbo].[dbafn_is_en_leapyear]    Script Date: 12/14/2013 07:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
                   
-- Description:	<Identify En Leap Year>         
-- =============================================
CREATE FUNCTION [dbo].[dbafn_is_en_leapyear](@EnYear SMALLINT) RETURNS BIT
BEGIN 
  DECLARE @Result BIT 
  IF ((@EnYear % 4) = 0) AND (((@EnYear % 100) <> 0) OR ((@EnYear % 400) = 0))
    SET @Result = 1
  ELSE 
    SET @Result = 0
  RETURN @Result
END
GO
